.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 15px;
  height: 100%;

  @media screen and (orientation: portrait) and (max-width: 1024px) {
    justify-content: start;
  }
}

.Submit {
  padding: 1em 0;
  font-size: 22px;
  background: none;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: #f44336;
  border: none;
  transition: all 500ms ease;
  &:hover,
  &:active,
  &:target,
  &:focus,
  &:focus-visible {
    box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.5);
  }
}

.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: none;
  border: 0px solid transparent;
  transition: all 500ms ease;
  &:hover,
  &:active,
  &:target,
  &:focus,
  &:focus-visible {
    border-style: solid;
    outline: none;
    box-shadow: -3px -3px 0px 2px rgba(0, 0, 0, 0.5);
  }
}

.FormGroup {
  width: 100%;
}

.InValid {
  input {
    border-color: red !important;
    color: red !important;
  }
}
